@import '~bootstrap/scss/bootstrap';

$lgrey: #f4f4f4;
$grey: #ced4da;
$dgrey: #222;

.btn-fb {
  color: #fff;
  background-color: #3B5998;
  border-color: #3B5998; 
  &:hover {
    color: #fff;
  }
}