@import '~bootstrap/scss/bootstrap';
/*@import '~font-awesome/scss/font-awesome';*/
@import "variables";

.btn-fb {
  color: #fff;
  background-color: #3B5998;
  border-color: #3B5998; 
  &:hover {
    color: #fff;
  }
}

hr {
  border-color: $lgrey;
}