@import '~bootstrap/scss/bootstrap';
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';
@import "variables";

body {
  background-color: $dwhite;
}

.btn-fb {
  color: #fff;
  background-color: #3B5998;
  border-color: #3B5998; 
  &:hover {
    color: #fff;
  }
}

hr {
  border-color: $lgrey;
}

input, input.form-control {
    border: 1px solid $lgrey;
    border-radius: 0;
}

.btn {
  border-radius: 0;
}