@import '~bootstrap/scss/bootstrap';
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';
@import "variables";

body {
  background-color: $dwhite;
  overflow-y: auto; 
}

a {
  cursor: pointer;
}

.btn {
  border-radius: 0;
}

.btn-fb {
  color: #fff;
  background-color: #3B5998;
  border-color: #3B5998; 
  &:hover {
    color: #fff;
  }
}

.btn-lgrey {
  color: #000;
  background-color: $lgrey;
  border-color: $lgrey; 
  &:hover {
    color: #000;
    background-color: $grey;
    border-color: $grey; 
  } 
}

.btn-black {
  color: #fff;
  background-color: #000;
  border-color: #000; 
  &:hover {
    color: #fff;
    background-color: $dgrey;
    border-color: $dgrey; 
  } 
}

hr {
  border-color: $lgrey;
}

.fa {
  width: 20px;
  text-align: center;
}

input, input.form-control {
    border: 1px solid $lgrey;
    border-radius: 0;
}

div.vue-dropzone {
  border: 1px solid $lgrey;
  border-bottom: 0;
  border-radius: 0;
}

.dropzone {
  position: relative;
  div.dz-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
  }
}